body {
  box-sizing: border-box;
  background-color: rgb(235,235, 235);
  margin: 0;
}
header {
  display: flex;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 150px;
}

/* navigation */
nav {
  display: flex;
}

nav a {
  color: rgb(235, 235, 235)
}

.nav-btn{
  height: 25px;
  width: 25px;
}

.nav-btn1 {
  background-image: url(assets/shapes-blue.svg);
  background-size: auto;
  /*background-repeat: no-repeat;
  background-size: cover;*/
}

.nav-btn2{
  /*background-image: url();*/
}

.nav-btn3 {
  /*background-image: url();*/
}

.login-content {
  display: none;
}

h1 {

}

.header-logo {
  height: 50px;
}

main {
  width: 95%;
  margin: auto;
}

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.share-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow:
  2px 2px 4px black,
  -2px -2px 4px black;
  margin-bottom: 25px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: brightness(60%);
}

.card-header1 {
  background-image: url(assets/white-guy.jpg);
}

.card-header2 {
  background-image: url(assets/download.jpeg);
}

.card-header3 {
  background-image: url(assets/young-professional.jpg);
}

.card-header4 {
  background-image: url(assets/yp-man.jpg);
}

.card-header5 {
  background-image: url(assets/yp-woman.jpg);
  background-size: 175%
}

.card-header6 {
  background-image: url(assets/prof-man.jpg);
}

.card-header7 {
  background-image: url(assets/woman-prof.png);
}

.card-header8 {
  background-image: url(assets/young-young.jpg);
}

.arrow-container {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  filter: none;

}

.card-header div {
  margin: 15px;
  color: white;
}

.card-header div img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-top: 10px;
}

.card-body {
  padding: 10px;
}
